@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,80);
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #212529;
  color: white;
  margin-bottom: 180px;
}

* {
  margin: 0;
  padding: 0;
}

.button {
  text-decoration: none;
  color: white;
  background-color: #450D37;
  padding: 10px;
  border-radius: 20px;
  border: black;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.button:hover {
  background-color: #23061C;
}

header {
  padding-bottom: 100px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1%;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  background-color: #1A1B1D;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.52);
}

header nav .container .text {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 33px;
}

.container {
  text-align: center;
}

.container .title {
  font-size: 92px;
}

.container .subtitle {
  font-size: 41px;
  font-weight: normal;
}

.container .line {
  height: 10px;
  width: 40%;
  margin: 10px;
  margin: auto;
  margin-top: 20px;
  background-color: #F25B5B;
}

.container p {
  margin-top: 30px;
  max-width: 60vw;
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
}

.container .link {
  text-align: justify;
}

.container .link .icon {
  fill: white;
  width: 46px;
  height: 46px;
  display: inline-block;
}

.container .link p {
  display: inline-block;
}

footer {
  position: fixed;
  background-color: #1A1B1D;
  width: 100vw;
  height: auto;
  padding: 20px;
  bottom: 0;
  left: 0;
}

footer .container .contant a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

footer .container .contant a:hover {
  color: purple;
}

.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #1A1B1D;
}

.card p {
  max-width: 500px;
}

.card .illustration {
  display: -ms-grid;
  display: grid;
  fill: white;
  position: relative;
  height: 80px;
  width: 80px;
  margin-bottom: 30px;
}

.card .title {
  font-size: 30px;
}
/*# sourceMappingURL=styles.css.map */